body {
  background-image: url('../../public/moview.jpeg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}


.inner {
  display: flex;
  /* justify-content: space-between; */
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
  /* max-width: rem(480px); */
  /* margin-right: calc(var(--mantine-spacing-xl) * 3); */

  @media (max-width: $mantine-breakpoint-md) {
    /* max-width: 100%;
    margin-right: 0; */
  }
}

.title {
  color: rgb(3, 118, 219);
  font-family:
   serif ,
    var(--mantine-font-family);
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: rem(476px);
  height: rem(456px);
  margin-right: 30px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}



.card {
  background-color: rgba(106, 106, 228, 0.152);
  margin: 0 8 0 8;
  max-height: 400px;
}

.label {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 700;
  line-height: 1;
}

.lead {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 700;
  font-size: rem(22px);
  /* line-height: 6; */
}
.iner {
  display: flex;

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}
.ring {
  flex: 1;
  display:flex;
  justify-content: flex-end;

  @media (max-width: $mantine-breakpoint-xs) {
    justify-content: center;
    margin-top: var(--mantine-spacing-md);
  }
}
.genreList {
  line-height: 1;
}
